<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>files.md</title>
    <link rel="canonical" href="https://files.md/">
    <link rel="icon" href="https://files.md/favicon.ico" sizes="32x32">
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body>
<main>
    <article>
        <header>
            <h1>Let's be lazy</h1>
        </header>
        <section class="two-cols">
            <section>
                <p>No <em>productivity</em>, no <em>planning</em>. Relax.</p>
                <p>The only thing that matters is your calmness.</p>
                <p>Your energy drains when you keep <em>stuff</em> in your head.</p>
                <p>
                    <span class="muted">What stuff?</span>
                <ul>
                    <li><a href="/notes">Thoughts and ideas (notes)</a></li>
                    <li><a href="/tasks">Tasks you need to do</a></li>
                    <li>Items to buy</li>
                    <li>Emotions</li>
                </ul>
                </p>
                <p>All that we can dump to plain text files.</p>
            </section>
            <figure class="image">
                <a href="https://www.instagram.com/tomassanchezstudio/" target="_blank"><img src="tomassanchez.webp" alt="Image credit: Tomas Sanchez" title="Image credit: Tomas Sanchez" width="300"></a>
            </figure>
        </section>
    </article>
</main>
</body>
</html>
