:root { /* Flexoki theme */
    --color-tx: #100F0F;
    --color-tx-hover: #24837b;
    --color-tx-muted: #6F6E69;
    --color-tx-faint: #B7B5AC;
    --color-tx-sel: rgba(187, 220, 206, 0.3);
    --color-bg: #FFFCF0; /* Paper color */
    --color-bg-alt: #F2F0E6;
    --color-bg-active: #E0DED5;
    --color-code-keyword: #1F5EA5;
    --color-code-op: #BC5215;
    --color-bg-code: #f2f0e5;
    --color-ui: #E6E4D9;
    --color-border: #E6E4DA;
    --font-smaller: 1.3rem;
    --font: -apple-system, BlinkMacSystemFont, 'Inter', 'IBM Plex Sans', 'Segoe UI', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    --font-mono: ui-monospace, SFMono-Regular, "Cascadia Code", "IBM Plex Mono",
    "Roboto Mono", "DejaVu Sans Mono", "Liberation Mono", Menlo, Monaco,
    "Consolas", "Source Code Pro", monospace;

    --wide-width: 800px;
    --normal-width: 800px;
    --line-height: 1.5;
}


@media (min-width: 1441px) {
    .container {
        --wide-width: 1000px;
    }
}


html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 64%
}

body {
    margin: 0;
    background-color: var(--color-bg-alt);
    color: var(--color-tx);
    font-size: 1.7rem;
    font-size: calc(1.5rem + 0.2vw);
    font-family: var(--font);
    text-rendering: optimizeLegibility;
}

.CodeMirror-wrap {
    border-radius: 5px;
    background-color: var(--color-bg);
    border-left: 1px solid var(--color-border);
}

#editor {
    display: flex;
    height: 100vh; /* Full viewport height */
}

#editor-sidebar {
    display: block;
    width: 400px;
    overflow: auto;
    height: 100%;
    background: var(--color-bg-alt);
    color: #878787;
    font-size: calc(1.5rem);
    padding-left: 5px;
}

#editor-sidebar > ul {
    margin: 8px;
}

#editor-sidebar li {
    margin: 3px 0;
}

#editor-content {
    box-sizing: border-box;
    overflow: auto;
    width: 100%;
}


#editor-content table, th, td {
    border-collapse: collapse;
    border: 1px solid #878787;
}

td {
    text-align: center;
}

th {
    padding: 3px;
}

td {
    padding: 2px;
}

a {
    color: var(--color-tx) !important;
    text-decoration: underline;
}

a:hover {
    color: var(--color-tx-hover);
}

#goToFile {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 500px;
    padding: 16px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    background: var(--color-bg);
    display: flex;
    flex-direction: column;
}

#goToFileInput {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 8px;
    box-sizing: border-box;
    border: 2px solid var(--color-tx-faint);
    border-radius: 4px;
    background: var(--color-bg);
}

#goToFileInput:focus {
    outline: none;
}

#goToFileResults {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
}

#goToFileResults li {
    padding: 8px;
    cursor: pointer;
}

#goToFileResults .focused {
    background-color: var(--color-tx-sel);
}

.CodeMirror-scroll {
    padding: 2em calc((100% - var(--normal-width)) / 2);
}

.CodeMirror-lines::after {
    content: "";
    display: block;
    height: 20em;
}

.CodeMirror-foldmarker {
    color: blue;
    text-shadow: #b9f 1px 1px 2px, #b9f -1px -1px 2px, #b9f 1px -1px 2px, #b9f -1px 1px 2px;
    font-family: arial;
    line-height: .3;
    cursor: pointer;
}
.CodeMirror-foldgutter {
    width: .7em;
}
.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
    cursor: pointer;
}
.CodeMirror-foldgutter-open:after {
    content: "\25BE";
}
.CodeMirror-foldgutter-folded:after {
    content: "\25B8";
}

.HyperMD-codeblock-bg {
    background: var(--color-bg-alt) !important;
}

.cm-inline-code {
    background: var(--color-bg-alt) !important;
    color: var(--color-tx-muted) !important;
    font-family: var(--font-mono) !important;
    font-size: var(--font-smaller) !important;
}

.hmd-hidden-token {
    display: none !important;
}

.cm-header-4 {
    font-size: 14pt;
}

::selection {
    background: var(--color-tx-sel);
}

::-moz-selection {
    background: var(--color-tx-sel);
}

.CodeMirror-selected {
    background: var(--color-tx-sel) !important;
}

.CodeMirror-hints {
    background-color: var(--color-bg) !important;
    color: var(--color-tx) !important;
    border: 1px solid var(--color-border) !important;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.CodeMirror-hint {
    padding: 5px 10px !important;
    cursor: pointer;
}

.CodeMirror-hint-active {
    background-color: var(--color-bg-alt) !important;
    color: var(--color-tx-muted) !important;
}

.cm-s-hypermd-light pre.HyperMD-codeblock {
    color: var(--color-tx-muted) !important;
    font-family: var(--font-mono) !important;
    font-size: var(--font-smaller) !important;
}

.cm-s-hypermd-light span.cm-link {
    color: var(--color-tx-hover) !important;
}

.cm-s-hypermd-light span.cm-link:hover {
    color: #4D978A !important;
}

